<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>프로필</title>
        <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
        <link rel = "stylesheet" type = "text/css" href = "../css/profile.css">
    </head>
    <body>
        <div id = "wrap">
            <div id = "header">
                <span id = "title">Developer Park JaeHun</span> 
                <div id = "nav">
                    <ul class = "menu">
                        <li><a href = "#">HOME</a></li>
                        <li><a href = "#">PROJECTS</a></li>
                        <li><a href = "https://kkopark73.tistory.com" target = "_blank">BLOG</a></li>
                    </ul> 
                </div>               
            </div>
            <div id = "sideTab">
                <img src="../images/profile.jpg" alt="프로필 이미지" id = "profileImg"/>
                <div id = "contact">
                    <h4>Contact</h4>
                    <span id = "phoneNum"><i class="fas fa-phone"></i>&nbsp; 010-2816-0073</span>
                    <span id = "email"><i class="fas fa-envelope-open"></i>&nbsp; jaehunb350@gmail.com</span>
                </div>
            </div>

            <div id = "contents">
                <div id = "textArea">
                    <p>Hello, my name is Jaehun Park. I am a Front /Back End Developer living in Seoul Korea.</p><br/>
                </div>
                <div id = skill>
                    <ul>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>HTML5</li>
                        <li>CSS</li>
                        <li>React</li>
                        <li>nodeJs</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>